---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="404 error" description="404 error, page not found">
    <main class="flex grow flex-col border-4 border-zinc-900 bg-zinc-50">
        <section
            class="flex grow flex-col justify-center border-b-4 border-zinc-900 p-8 lg:p-16"
        >
            <h1
                class="text-[18vw] font-bold leading-[0.8] tracking-tighter lg:text-[12vw]"
            >
                404
            </h1>
            <h1
                class="text-[18vw] font-bold leading-[0.8] tracking-tighter lg:text-[12vw]"
            >
                error.
            </h1>
        </section>

        <section>
            <a
                href="/colors/"
                class="flex flex-col justify-start bg-zinc-900 p-8 text-zinc-50 transition-all duration-150 ease-in-out hover:bg-zinc-200 hover:text-zinc-900 hover:pl-12 md:hover:pl-20 lg:p-16"
            >
                <h2
                    class="text-[2.5rem] font-bold leading-none tracking-tighter md:text-[3.5rem]"
                >
                    view
                </h2>
                <h2
                    class="text-[2.5rem] font-bold leading-none tracking-tighter md:text-[3.5rem]"
                >
                    colors.
                </h2>
            </a>
        </section>
    </main>
</Layout>
