---
import Layout from "~/layouts/Layout.astro";
import SingleCard from "~/components/SingleCard.astro";
import ComboCard from "~/components/ComboCard.astro";
import Toast from "~/components/Toast.astro";
import colors from "~/data/colors.json";
---

<Layout
    title="lonsucolors."
    description="A curated collection of colors that I personally use."
>
    <header
        class="mb-8 flex flex-col items-start px-4 pt-8 md:flex-row md:items-end md:justify-between md:px-8 lg:px-16"
    >
        <a href="/" class="text-zinc-900 no-underline">
            <h1
                class="text-[12vw] font-bold leading-[0.8] tracking-tighter md:text-7xl"
            >
                lonsu
            </h1>
            <h1
                class="text-[12vw] font-bold leading-[0.8] tracking-tighter md:text-7xl"
            >
                colors.
            </h1>
        </a>
    </header>

    <main class="flex flex-col gap-20 px-4 pb-20 md:px-8 lg:px-16">
        <section>
            <h2
                class="mb-4 inline-block pb-2 text-3xl font-bold tracking-tighter"
            >
                dark colors
            </h2>
            <div
                class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6"
            >
                {colors.dark.map((hex) => <SingleCard hex={hex} />)}
            </div>
        </section>

        <section>
            <h2
                class="mb-4 inline-block pb-2 text-3xl font-bold tracking-tighter"
            >
                light colors
            </h2>
            <div
                class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6"
            >
                {colors.light.map((hex) => <SingleCard hex={hex} />)}
            </div>
        </section>

        <section>
            <h2
                class="mb-4 inline-block pb-2 text-3xl font-bold tracking-tighter"
            >
                combo colors
            </h2>
            <div
                class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
            >
                {
                    colors.combos.map((combo) => (
                        <ComboCard hex1={combo[0]} hex2={combo[1]} />
                    ))
                }
            </div>
        </section>
    </main>
    <Toast />
</Layout>
