---
import "~/styles/global.css";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body
        class="min-h-screen flex flex-col bg-zinc-100 p-4 font-sans text-zinc-900 md:p-8"
    >
        <slot />
    </body>
</html>
<style is:global>
    @import "@fontsource-variable/space-grotesk/wght.css";
</style>
